extends ./layout.pug

block body
  .container
    h1.text-center= title
    .card
      img.card-img-top(src='https://themes.getbootstrap.com/wp-content/uploads/2018/02/BS_Dashboard-400x300.png', alt='...')
      .card-body
        h5.card-title Card title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere