//- 首页
extends ./layout.pug

block head-style-custom
  link(href="css/pages/home.css", rel="stylesheet")

block body
  .container
    h1.text-center= title

    .jumbotron
      h1.display-4 Hello, world!
        |       
        p.lead
          | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        |       
        hr.my-4
        |       
        p
          | It uses utility classes for typography and spacing to space content out within the larger container.
        |       
        a.btn.btn-primary.btn-lg(href='javascript:;', role='button') Learn more


    - var pets = ['猫', '狗', '牛']
    ul.list-group
    each petName in pets
      li.list-group-item= petName

    
    h2 雪碧图
    hr
    - var n = 1;
    while n <= 15
      .card(class=`icon-${n++}`)= n-1
