//- <!DOCTYPE html>
//- html(lang="zh-cn")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-     title #{title}
//-     link(href="styles/main.css", rel="stylesheet")
//-   body
//-     h1 这是一个网页.....

extends ./layout.pug

block head-script
  script(src='scripts/jquery.js')
  script(src='scripts/pets.js')

block body
  h1= title
  - var pets = ['猫', '狗']
  each petName in pets
    li= petName
