<!DOCTYPE html>
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta

    title #{title}

    block head-style
      link(href="node_modules/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
      link(href="node_modules/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
      link(href="lib/font-awesome.css", rel="stylesheet")
      link(href="css/main.css", rel="stylesheet")
      link(href="css/sprite.css", rel="stylesheet")

    block head-style-custom

    block head-script
      script(src="node_modules/jquery/dist/jquery.js")
      script(src="node_modules/vue/dist/vue.js")
      script(src="node_modules/bootstrap/dist/js/bootstrap.js")

    block head-script-custom

  body
    block header
      include ./parts/header.pug

    block body
      div 我是body默认内容

    block footer
      include ./parts/footer.pug
      
    block bottom-script
      script(src="js/main.js")

    block bottom-script-custom
