@import './reset';
@import './var';
@import './function';
@import './skin';
@import './global';
@import './components/index';

body {
  color: red;
  
  h1 {
    width: 100%;
    display: flex;
  }
}
